:root.theme-dark {
  
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --button-text-color: #ff0070;
  --button-hover-color: #FF007066;
  --section-title-color: #FF0070;
  --article-color: #000028;
  --decorative-corner: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --header-title-color: #DB00FF;
    --button-text-color: #ff0070;
    --button-hover-color: #FF007066;
    --section-title-color: #FF0070;
    --article-color: #000028;
    --decorative-corner: #FF0070;
    --background-image: url(../images/cover-image-dark.png);
    --outline-color: #F1B2CE;
  }
}

.them-dark .header__rec {
  display: block;
}




