/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

/* -- Header --*/

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto 1fr auto;;
  margin-inline: 10px;
  margin-block-end: var(--header-padding);
  min-block-size: 100vh;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 0;
  border-top: 2px solid var(--decorative-corner);
  border-right: 2px solid var(--decorative-corner);
}

.decorated-zone::after {
  bottom: 10px;
  border-bottom: 2px solid var(--decorative-corner);
  border-left: 2px solid var(--decorative-corner);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  padding-top: 39px;
}

.header__rec {
  display: flex;  
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-right: 9px;
  color: var(--accent-color);
  font-size: 1.717rem;
  line-height: 25px;
  text-transform: uppercase;
  max-block-size: 26px;
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px var(--accent-color);
  background: var(--accent-color);
}

.header__theme-menu-button {
  border: none;
  padding: 0;
  color: var(--accent-color);
  font-size: var(--button-text-size);
  line-height: var(--line-height-sl);
  letter-spacing: 1px;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}

.header__content {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  align-items: center;
  gap: 55px;
  margin-block: auto;
}

.header__title {
  align-self: flex-start;
  margin-block: auto;
  color: var(--header-title-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--size-title-text);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  color: var(--article-color);
  font-weight: var(--bold-font-weight);
  font-size: 1.717rem;
  line-height: var(--line-height-big);
  background-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 2px solid var(--text-color);
  outline: none;
}


/* -- Main -- */

.main {
  display: grid;
  padding-inline: 10px;
}

.difficulty,
.distraction,
.tips,
.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: var(--padding-blocks);
}


.distraction .article__title {
  margin-block-end: 10px;
}

.article__title {
  margin-block-end: 10px;
  color: var(--article-color);
  font-size: 1.717rem;
  line-height: var(--line-height-big);
  background-color: var(--accent-color);
}
.article__text {
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: 1.717rem;
  line-height: var(--line-height-big);
}

.title-decor {
  color: var(--section-title-color);
  font-weight: var(--bold-font-weight);
  font-size: 1.717rem;
  line-height: var(--line-height-big);
}

.tips__title {
  margin-block-end: 20px;
  color: var(--article-color);
  font-size: 1.717rem;
  line-height: var(--line-height-big);
  background-color: var(--accent-color);
}

.tip__title {
  margin-block-end: 10px;
  color: var(--article-color);
  font-weight: var(--font-weight);
  font-size: 1.717rem;
  line-height: var(--line-height-big);
  background-color: var(--accent-color);
}

.tip__text{
  color: var(--text-color);
  font-size: 1.717rem;
  line-height: var(--line-height-big);
}

.tip__text:not(:last-child) {
  margin-block-end: 20px;
}





/* Галерея */

.gallery__image {
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: cover;
}

.gallery__image:not(:last-child) {
  margin-block-end: 10px;
}

.gallery__title {
  margin: 0;
}


/* -- Footer -- */


.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
  min-block-size: 100vh;
}

.footer::after {
  bottom: 10px;
  left: 0;
  border-bottom: 2px solid var(--decorative-corner);
  border-left: 2px solid var(--decorative-corner);
}

.footer::before {
  top: 10px;
  border-top: 2px solid var(--decorative-corner);
  border-right: 2px solid var(--decorative-corner);
}


.footer__title {
  align-self: center;
}

/* -- link в тексте -- */

.link {
  text-decoration: none;
  text-shadow: 1.6px 1.5px 0 var(--accent-color);
}
.link:hover {
  border: none; 
  border-bottom: 1px solid var(--text-color);
  outline: none;
}
.link:focus {
  outline: 1px solid var(--text-color);
  text-decoration: none;
}

/* -- Media -- */

@media (width >= 768px) {
  .main {
    padding-inline: 20px;
  }

  .header {
    margin-inline: 20px;
  }

  .header__content {
    gap: 162px;
  }

  .header__subtitle {
    align-self: flex-end;
    line-height: var(--line-height-big);
    text-align: left;
    min-inline-size: 364px;
  }

  .difficulty,  .tips {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .title-decor {
    max-width: 236px;
    text-align: start;
  }

  .article {
    grid-column-start: 2;
    grid-column-end: auto;
  }
  
  .difficulty .article__title {
    margin-block-end: 10px;
  }

  .gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "sunset sunset ice-cream"
    "cassette books ice-cream"
    "cassette street street";
    gap: 20px; 
  }

  .gallery__image {
    height: 100%; 
  }

  .image-sunset {
    grid-area: sunset;
  }

  .image-ice-cream {
    grid-area: ice-cream;
  }

  .image-cassette {
    grid-area: cassette;
  }

  .image-books {
    grid-area: books;
  }

  .image-street {
    grid-area: street;
  }

  .footer {
    margin-inline: 20px;
  }

  .footer__title {
    font-size: var(--size-title-text);
  }
}


@media (width >= 1024px) {
  .header {
  }
  
  .header__theme-menu {
    display: grid;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .header__rec {
    position: absolute;
    right: 0px;
  }

  .header__content {
    gap: 114px;
    line-height: 130%;
  }

  .header__title {
    font-size: var(--size-title-text);
  }

  .header__subtitle {
    line-height: var(--line-height-big);
    max-inline-size: 491px;
  }

  .distraction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  .distraction .title-decor {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: left;
  }

  .title-decor {
    max-width: 315px;
  }

  .distraction .article {
    grid-column: auto;
    grid-row: 2;
  }

}


