/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --header-title-color: #db00ff;
  --decorative-corner: #ff0070;
  --button-hover-color: #ff007066;
  --background-image: url(../images/cover-image-dark.png);
  --size-title-text: clamp(11.07rem, 10.71rem + 1.0178vw, 11.45rem);
  --padding-blocks: 50px;
  --font-family: "IBM Plex mono";
  --font-weight: 400;
  --bold-font-weight: 700;
  --button-text-size: 1.717em;
  --line-height-sl: 1;
  --line-height-big: 1.3;
  --header-padding: 40px;
}

@media  (width >= 768px) {
  :root {
  --size-title-text: clamp(11.45rem, 0.859rem + 14.4531vw, 14.98rem);
  --padding-blocks: 80px;
  --header-padding: 60px;
  }
}
  


