/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  
  --mobile-title-text: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --desktop-title-text: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-family: "IBM Plex mono";
  --font-weight: 400;
  --bold-font-weight: 700;


 
}

